.d {
    width: 100%;
    height: 100vh;
    background-image: url("./forest-game-background-d-application-vector-design-tileable-horizontally-size-ready-parallax-effect-73706218.jpg");
    position: absolute;
}

body {
    margin: 0px;
}

.c {
    width: 512px;
    height: 515px;
    position: absolute;
    margin-top: 275px;
    margin-left: -125px;
    background-image: url(./r.png);
    transform: scale(0.5);
}